module.exports = {
  server : {
    port  : "9003"
  },

  rabbit : {
    connection: {
          //user: 'username', pass: 'password', server: 'server', port: 5672, vhost: 'username'
          server: '127.0.0.1', port: 5672
              },
    queues: [ { name: 'cloudamqp-queue', subscribe: true, durable: true } ],
        exchanges: [ { name: "exchange",type: "direct", persistent: true, durable: true } ],
        bindings: [ { exchange: 'exchange', target: 'cloudamqp-queue', keys: ["routingKey"] } ]
  },


  email : {
    host : "hostname",
    port : "587",
    user : "user@host.com",
    pass : "secret"
    from : "Name <user@host.com>",
    to : {
      test_group : "test_group@host.com",
    }

  }
};
